*   {
    background-color: orange;
}
header {
    text-align: center;
    font-weight: bold;
}

.header-details {
    color: green;
}

main {
    display: flex;
    flex-wrap: wrap;
    
}
.card {
    
    /* height: auto; */
    /* display: inline-block; */
    min-width: 25%;  
    min-height: 40vh;  
    flex-grow: 1;   
    /* background-color: white; */
        

}

.card-header {
    border: 2px  solid green;
    margin: 1em 1em 0 1em;
    position: relative;
    top: .5em;
    width: 12em;
    z-index: 10;
}

.card-contents {
    border: 2px solid green;
    padding: .5em;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}

.card-details {
    font-family: sans-serif;
    margin-top: 1em;
}

.card-code {
    background-color: black;
    color: green;
    display: block;
    margin: 0;
    
    
    
}

footer{
    text-align: center;
}